<% i=0 %>
<% @issues.each do |issue| %>
<% i=i+1 %>
<div>
<table>
<thead>
<th>#</th>
<th>Title</th>
<th>Type</th>
</thead>
<tbody>
<tr>
<th scope='row'><%=i%>
<td><%= issue.title%></td>
<td><%= issue.issue_type%></td>
</tr>
</tbody>
</table>
</div>
<% end %>